@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Merienda&display=swap');
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #111010;
  color: rgb(247, 234, 234);
  font-family: 'Satisfy', cursive;


}

/**** game start page ****/
.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}
.introduction h1 {
  font-size: 7rem;

}
.btn {
  background: none;
  border: 1px solid rgb(51, 51, 51);
  cursor: pointer;
  font-family: 'Kalam', cursive;
  color: rgba(248, 239, 239, 0.719);
  box-shadow: 0 1px 5px 1px black;
  font-size: 2.2rem;
  padding: .5rem 3rem;
  border-radius: 3px;
  margin-bottom: 15rem;
}

.introduction button:hover {
  background-color: #131313;
}
.introduction button:active, #play-again:active  {
  transform: scale(.98);

}


/***** game page  ****/
.game {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.5s ease 0.5s;
    box-shadow: 0 0 10px 1px rgb(18, 39, 39);

}


.box{
  width: 33%;
  height: 22vh;
  cursor: pointer;
  color: rgb(78, 239, 245);
  font-size: 10rem;
  font-family: 'Kalam', cursive;
  text-align: center;
  border:1px solid rgb(30, 202, 245);

}
.top {border-top: none;}
.bottom {border-bottom: none;}
.left {border-left: none;}
.right {border-right: none;}


.fadeOut {
    opacity: 0;
    pointer-events: none;
}
  


/**** result popup *****/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 18rem auto;
	padding: 8rem 8rem 3rem;
	background: #b8ecec;
	border-radius: 5px;
	width: 40%;
	position: relative;
	transition: all 5s ease-in-out;
  font-family: 'Kalam', cursive;
  


}
  
.popup h2 {
  text-align: center;
	color: rgb(39, 39, 39);
  margin-bottom: 3rem;
  font-size: 5rem;

}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;

}

.popup .close:hover {
	color: red;
}

#show {
	visibility: visible !important;
	opacity: 100 !important;
}


#play-again {
	background-color: #ffe2ab;
	padding: .10rem 2rem;
	font-size: 2.5rem;
  border: 1px solid black;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
  cursor: pointer;
  font-family: 'Kalam', cursive;

}

